.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
scripts/**
.github/**
sampleWorkspace/**
temp/**
node_modules/**
.pnpm-store/**
.gitignore
.yarnrc
pnpm-lock.yaml
package-lock.json
biome.json
tsconfig.json
commitollama-demo.gif
**/*.ts
**/*.map
out/test/**
